<!DOCTYPE html>
<html lang="en">

<head lang="en">
    <meta charset="UTF-8">
    <title>GSRSD VocPrez</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vocprez.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <script src="https://kit.fontawesome.com/c112c4b9c0.js" crossorigin="anonymous"></script>
    {%- if extra_styling is defined %}
    <style>
        {{ extra_styling }}
    </style>
    {% endif %}
</head>

<body>
    <div id="vocprez">
        made by <a href="http://github.com/rdflib/VocPrez">VocPrez</a>&nbsp;
        <a id="versionlink" href="https://github.com/RDFLib/VocPrez/releases/tag/{{ utils.version() }}">{{ utils.version() }}</a>
    </div>
    <header>
        <div id="header-content">
            <a href="https://www.dmirs.wa.gov.au/" class="header-logo">
                <img src="{{ url_for('static', filename='WAGovLogo.svg') }}" alt="DMIRS Logo">
            </a>
            <a href="/" id="header-title"><h1>GSRSD VocPrez</h1></a>
            <a href="https://www.dmp.wa.gov.au/Geological-Survey/Geological-Survey-262.aspx" class="header-logo">
                <img src="{{ url_for('static', filename='gswa-logo.png') }}" alt="GSWA Logo">
            </a>
        </div>
    </header>
    <div id="nav-container">
        <nav id="nav">
            {% include "nav.html" %}
        </nav>
    </div>
    <main>
        <div id="breadcrumbs-container">
            {% block breadcrumbs %}{% endblock %}
        </div>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div id="footer-top">
            <div id="footer-top-content">
                <div class="footer-col">
                    <h3>Acknowledgement of Country</h3>
                    <p>The Government of Western Australia acknowledges the traditional custodians throughout Western Australia and their continuing connection to the land, waters and community. We pay our respects to all members of the Aboriginal communities and their cultures; and to Elders both past and present.</p>
                </div>
                <div class="footer-col footer-box">
                    <h3>Contact the Department of Mines, Industry Regulation and Safety</h3>
                    <div class="footer-row">
                        <div>
                            <p>Provide feedback / corrections or request further information and support when using this application.</p>
                            <div class="contact-row">
                                <span>Email:</span>
                                <a href="">minedex@dmirs.wa.gov.au</a>
                            </div>
                        </div>
                        <div>
                            <p>Technical support accessing the Department's online systems.</p>
                            <div class="contact-row">
                                <span>Phone:</span>
                                <a href="">+61 8 9222 0777</a>
                            </div>
                            <div class="contact-row">
                                <span>Email:</span>
                                <a href="">IT.servicedesk@dmirs.wa.gov.au</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-bottom">
            <div id="footer-bottom-content">
                <div id="footer-nav">
                    <a href="">WA.gov.au</a>
                    <a href="">Copyright</a>
                    <a href="">Disclaimer</a>
                    <a href="">Privacy</a>
                    <a href="">About</a>
                </div>
                <div>
                    <p>
                        &copy; Government of Western Australia 2021<br/>
                        Department of Mines, Industry Regulation and Safety<br/>
                        VocPrez - v{{ utils.version() }}
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>